@import "./mixins/mixin_font_size"
    
.courses
    .course
        grid-row-gap: 35px
        .course__title
            @include fluidFontSize(20px, 48px, 360px, 1280px, 15px)
            font-family: "Rotonda"
            margin-top: 20px
        .main-course
            grid-template-columns: 1fr 1fr
            position: relative
            grid-column-gap: 50px
            @media screen and ( max-width: 767px )
                grid-template-columns: 1fr !important
            .main-course__left
                @include fluidFontSize(14px, 18px, 360px, 1280px, 15px)
                line-height: 1.5
                text-align: justify
            .main-course__right
                max-width: 100%
        .specialists
            .specialists__title
                font-family: "Rotonda"
                @include fluidFontSize(15px, 36px, 360px, 1280px, 15px)
            .specialists-all
                grid-row-gap: 25px
                grid-template-columns: repeat(auto-fit,minmax(150px,350px))
                @media screen and ( max-width: 874px )
                    margin: 0 auto
                .one-specialist
                    text-align: center
                    position: relative
                    grid-row-gap: 10px
                    grid-template-rows: 300px
                    .one-specialist__name
                        padding: 0
                        font-weight: 500
                        @include fluidFontSize(15px, 24px, 360px, 1280px, 15px)
                        font-family: "Rotonda"
                        width: 80%
                        text-align: center
                    .one-specialist__profession
                        width: 80%
                        text-align: center
                    .people_image
                        position: relative
                        .one-specialist__image
                            margin: 0 auto
                            max-height: 300px
                            max-width: 100%
                            border-radius: 30px
                        .star
                            position: absolute
                            -webkit-transform: translate(50%,10%)
                            transform: translate(50%,10%)
                            right: 0
                            height: 75px
                            bottom: 0
        .info-courses
            grid-row-gap: 30px
            .info-courses__title
                font-family: "Rotonda"
                text-align: center
                @include fluidFontSize(15px, 36px, 360px, 1280px, 15px)
            .info-courses__block
                grid-template-columns: repeat(auto-fit,minmax(200px,1fr))
                grid-column-gap: 40px
                grid-row-gap: 40px
                -webkit-align-items: normal
                align-items: normal
                margin: 0 auto
                -webkit-justify-content: start
                justify-content: start
                @media screen and ( min-width: 1000px )
                    max-width: 900px
                .course-one
                    grid-template-columns: min-content 1fr
                    grid-gap: 10px
                    display: grid
                    @include fluidFontSize(14px, 16px, 360px, 1280px, 15px)
                    text-align: justify
                    .course-text
                        padding-top: 3px
                        padding-left: 1px
                        font-family: "Rotonda Regular"
                    .course-number
                        margin: 0
                        padding: 0
                        height: 30px
                        width: 30px
                        background-color: #00bcd4
                        display: grid
                        justify-content: center
                        align-items: center
                        color: #fff
                        border-radius: 20px
        .consists-of
            grid-row-gap: 15px
            .consists-of__title
                font-family: "Rotonda"
                @include fluidFontSize(15px, 36px, 360px, 1280px, 15px)
            .consist-block
                position: relative
                -webkit-align-content: normal
                align-content: normal
                -webkit-align-items: normal
                align-items: normal
                width: 100%
                max-width: 1200px
                position: relative
                border-radius: 30px
                overflow: hidden
                @media screen and ( min-width: 768px )
                    grid-template-columns: repeat(2,50%)                
                textarea
                    min-width: 300px
                    min-height: 200px
                .consist-block__text
                    background-color: #e2e2e2
                    border-radius: 30px
                    grid-template-columns: repeat(2,1fr)
                    grid-template-rows: repeat(2,1fr)
                    grid-gap: 10px
                    padding: 10px
                    @media screen and ( max-width: 767px )
                        grid-row-start: 2
                    .consist-one
                        grid-template-columns: min-content 1fr
                        grid-column-gap: 10px
                        display: grid
                        z-index: 1
                        @include fluidFontSize(14px, 16px, 360px, 1280px, 15px)
                        .before-text
                            @include fluidFontSize(30px, 50px, 360px, 1280px, 15px)
                            text-align: center !important
                            font-family: "Rotonda"
                            color: #4caf50
                            @media screen and ( max-width: 767px )  
                                margin-block-start: 1em
                                margin-block-end: 1em
                .consists-one__image
                    border-radius: 30px
                    position: relative
                    overflow: hidden
                    height: 300px
                    @media screen and ( max-width: 1050px ) and ( min-width: 900px )
                        height: 300px
                    @media screen and ( max-width: 899px )
                        height: 235px
                    @media screen and ( max-width: 767px ) and ( min-width: 650px )
                        width: 100%
                        height: auto
                    @media screen and ( max-width: 649px ) and ( min-width: 570px )
                        height: 350px
                    @media screen and ( max-width: 569px ) and ( min-width: 480px )
                        height: 300px
                    @media screen and ( max-width: 479px ) and ( min-width: 390px )
                        height: 240px
                    @media screen and ( max-width: 389px ) and ( min-width: 330px )
                        height: 220px
                    @media screen and ( max-width: 329px ) and ( min-width: 0px )
                        height: 200px
                    img
                        width: auto
                        height: 100%
                        border-radius: 30px
                        margin: auto
                        position: absolute
                        top: 50%
                        left: 50%
                        -webkit-transform: translate(-50%,-50%)
                        -ms-transform: translate(-50%,-50%)
                        transform: translate(-50%,-50%)
                .sun
                    position: absolute
                    transform: translate(-50%, 50%)
                    -webkit-transform: translate(-50%, 50%)
                    animation: spin2 40s linear infinite
                    left: 50%
                    bottom: -1px
#toggle
    visibility: hidden
    opacity: 0
    position: relative
    z-index: -1
label
    background: skyblue
    color: white
    padding: .5em 1em
    border-radius: 4px

@keyframes appear
    0%
        opacity: 0
        transform: translateY(-10px)

.update
    margin-top: 15px

dialog
    display: grid
    animation: appear 350ms ease-in 1
    margin: auto
    position: fixed
    top: 50% 
    z-index: 10
    max-height: 80vh
    overflow-y: scroll
    overflow-x: hidden
    left: 50%
    -webkit-transform: translate(-50%,-50%)
    -ms-transform: translate(-50%,-50%)
    transform: translate(-50%,-50%)
    grid-template-rows: max-content min-content

.active-modal
    visibility: hidden
    opacity: 0
    position: relative
    z-index: -1
    &:checked
        dialog
            display: grid

@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

@keyframes spin2
    0%
        transform: translate(-50%, 50%) rotate(0deg)
        -webkit-transform: translate(-50%, 50%) rotate(0deg)
    100%
        transform: translate(-50%, 50%) rotate(360deg)
        -webkit-transform: translate(-50%, 50%) rotate(360deg)