@import "./mixins/mixin_images"
@import "./mixins/mixin_font_size"

.online
    grid-template-rows: repeat(3, min-content)
    grid-gap: 15px
.online-school
    grid-template-columns: 2fr min-content
    grid-row-gap: 15px
    @media screen and ( max-width: 956px )
        grid-template-columns: 1fr
    .online-school__left
        grid-template-rows: repeat(2,min-content)
        max-width: 450px
        grid-row-gap: 30px
        text-align: justify
        text-align-last: center
        width: 90%
        line-height: 1.5
    .online-school__right
        height: min-content
        max-width: 400px
        grid-template-columns: 0% 55% 39% 5%
        align-items: start
        grid-template-rows: 25% 37.5% 37.5%
        .squares
            max-width: 400px
            max-height: 400px
            margin: 0 0 0 auto
            grid-column-start: 1
            position: relative
            z-index: 1
            grid-column-end: 5
            grid-row-start: 1
            grid-row-end: 4
            @media screen and ( max-width: 956px )
                max-width: 100% !important
        .sun
            grid-column-start: 3
            animation: spin 40s linear infinite
            grid-row-start: 1
            grid-row-end: 3
            width: 85%
            margin-left: 65%
            margin-top: -30%
        .wrapper_star
            grid-column-start: 1
            grid-column-end: 5
            grid-row-start: 3
            z-index: 1
            width: auto
            align-items: end
            position: relative
            height: 101%
            .star
                animation: spin 40s linear infinite
                height: 100%
                width: auto
                max-height: 100px
                bottom: 10px
                position: absolute
                margin: 0 auto
                margin-left: 5%

.online-school__registration-button
    margin: 0 auto
    color: #fff
    font-size: 15px
    border-radius: 400px
    background-color: #5e91b7
    outline: none
    border: 0
    padding: 13px 60px
    &:hover
        background-color: #ffad97
        cursor: pointer


.red_button
    margin: 0 auto
    color: #ffffff
    font-size: 15px
    // font-family: 'Rotonda',Arial,sans-serif
    border-radius: 400px
    background-color: #5e91b7
    outline: none
    border: 0
    padding: 13px 60px
    &:hover
        background-color: #ffad97

.registrationContent
    z-index: 2 !important

.registrationContent,
.registrationContent::after,
.registrationContent::before 
    background-color: #f9f9f9
    background: -moz-linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%)
    background: -webkit-linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%)
    background: -o-linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%)
    background: -ms-linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%)
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 )
    border: 1px solid #c4c6ca 

.closeBtn,
.registerButt::after,
.registerButt::before,
.registrationContent::after,
.registrationContent::before 
    position: absolute 

.registrationContent 
    -webkit-box-shadow: 0 -19px 38px rgba(0, 0, 0, 0.30), 0 -15px 22px rgba(0, 0, 0, 0.24)
    -moz-box-shadow: 0 -19px 38px rgba(0, 0, 0, 0.30), 0 -15px 22px rgba(0, 0, 0, 0.24)
    -ms-box-shadow: 0 -19px 38px rgba(0, 0, 0, 0.30), 0 -15px 22px rgba(0, 0, 0, 0.24)
    -o-box-shadow: 0 -19px 38px rgba(0, 0, 0, 0.30), 0 -15px 22px rgba(0, 0, 0, 0.24)
    box-shadow: 0 -19px 38px rgba(0, 0, 0, 0.30), 0 -15px 22px rgba(0, 0, 0, 0.24)
    margin: 0 auto
    padding: 25px 0 0
    position: relative
    text-align: center
    text-shadow: 0 1px 0 #ffffff
    width: 95%
    max-width: 500px
    position: fixed
    margin: auto
    top: 50%
    left: 50%
    -webkit-transform: translate(-50%,-50%)
    -ms-transform: translate(-50%,-50%)
    transform: translate(-50%,-50%)
    z-index: 1
    &::after,
    &::before 
        transform: rotate(2deg)
        content: ''
        display: block
        height: 100%
        left: -10px
        width: 100% 
    &::after 
        -webkit-transform: rotate(-10deg)
        -moz-transform: rotate(-10deg)
        -ms-transform: rotate(-10deg)
        -o-transform: rotate(-10deg)
        transform: rotate(-10deg)
        top: 0
        z-index: -2 
    .closeBtn 
        cursor: pointer
        line-height: 18px
        top: -25px
        right: -2%
        width: 20px
        height: 20px
        text-align: center
        border-radius: 10px
        opacity: .4
        -webkit-transition: all 0.2s ease-in-out
        -moz-transition: all 0.2s ease-in-out
        transition: all 0.2s ease-in-out
        @include background-image("/close_btn.png", center, transparent, cover)
        .closeImg 
            display: block
            margin: auto
            width: 100%
            height: auto  

    .contactForm 
        position: relative
        margin: 0 20px
        &::after 
            content: '.'
            display: block
            height: 0
            clear: both 
        .registrationTitle 
            @include fluidFontSize(15px, 28px, 300px, 1920px, 18px)
            color:#7E7E7E 
            font-weight: bold
            letter-spacing: -0.05em
            line-height: 20px
            margin: 10px 0 30px 
        .formInput 
            -webkit-border-radius: 3px
            -moz-border-radius: 3px
            -ms-border-radius: 3px
            -o-border-radius: 3px
            border-radius: 3px
            -webkit-box-shadow: 0 1px 0 #ffffff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset
            -moz-box-shadow: 0 1px 0 #ffffff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset
            -ms-box-shadow: 0 1px 0 #ffffff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset
            -o-box-shadow: 0 1px 0 #ffffff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset
            box-shadow: 0 1px 0 #ffffff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset
            -webkit-transition: all .5s ease
            -moz-transition: all .5s ease
            -os-transition: all .5s ease
            -o-transition: all .5s ease
            transition: all .5s ease
            border: 1px solid #c8c8c8
            color: #777777
            font: 13px Helvetica, Arial, sans-serif
            margin: 0 0 10px
            padding: 15px 10px 15px 40px
            width: 80%
            &:focus 
                -webkit-box-shadow: 0 0 2px #66afe9 inset
                -moz-box-shadow: 0 0 2px #66afe9 inset
                -os-box-shadow: 0 0 2px #66afe9 inset
                -o-box-shadow: 0 0 2px #66afe9 inset
                box-shadow: 0 0 2px #66afe9 inset
                background-color: #ffffff
                border: 1px solid #66afe9
                outline: none  
        .registerButt 
            background: -webkit-linear-gradient(to bottom, rgba(25, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100% )
            background: -moz-linear-gradient(to bottom, rgba(25, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100% )
            background: -os-linear-gradient(to bottom, rgba(25, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100% )
            background: -o-linear-gradient(to bottom, rgba(25, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100% )
            background: linear-gradient(to bottom, rgba(25, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100% )
            background: rgb(254, 231, 154)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 )
            -webkit-border-radius: 30px
            -moz-border-radius: 30px
            -os-border-radius: 30px
            -o-border-radius: 30px
            border-radius: 30px
            -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset
            -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset
            -os-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset
            -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset
            border: 1px solid #d69e31
            color: #85592e
            cursor: pointer
            font: bold 15px Helvetica, Arial, sans-serif
            height: 35px
            outline: none
            position: relative
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
            width: auto
            &:hover 
                background: -webkit-linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100% )
                background: -moz-linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100% )
                background: -os-linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100% )
                background: -o-linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100% )
                background: linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100% )
                background-color: rgba(254, 293, 81, 1)
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 )  
        &::before,
        &::after 
            content: ''
            height: 1px
            top: 10px
            width: 27%
            position: absolute 
        &::after 
            background-color: rgb(126, 126, 126)
            background: -moz-linear-gradient(to right, rgba(126, 126, 126, 1) 0% rgba(255, 255, 255, 1) 100%)
            background: -webkit-linear-gradient(to right, rgba(126, 126, 126, 1) 0% rgba(255, 255, 255, 1) 100%)
            background: -o-linear-gradient(to right, rgba(126, 126, 126, 1) 0% rgba(255, 255, 255, 1) 100%)
            background: -ms-linear-gradient(to right, rgba(126, 126, 126, 1) 0% rgba(255, 255, 255, 1) 100%)
            background: linear-gradient(to right, rgba(126, 126, 126, 1) 0% rgba(255, 255, 255, 1) 100%)
            right: 0 
        &::before 
            background-color: rgb(126, 126, 126)
            background: -moz-linear-gradient(to left, rgba(126, 126, 126, 1) 0% rgba(255, 255, 255, 1) 100%)
            background: -webkit-linear-gradient(to left, rgba(126, 126, 126, 1) 0% rgba(255, 255, 255, 1) 100%)
            background: -o-linear-gradient(to left, rgba(126, 126, 126, 1) 0% rgba(255, 255, 255, 1) 100%)
            background: -ms-linear-gradient(to left, rgba(126, 126, 126, 1) 0% rgba(255, 255, 255, 1) 100%)
            background: linear-gradient(to left, rgba(126, 126, 126, 1) 0% rgba(255, 255, 255, 1) 100%)
            left: 0 
        .name, .email 
            background-position: 10px 10px !important 
        .surname 
            background-position: 10px -53px !important   

@media screen and ( min-width: 550px ) 
    .closeBtn 
        right: -35px !important  


.register_button
    display: grid !important
    text-decoration: none !important
    max-width: 250px
    margin: 20px auto
    background-color: #ffffff !important
    color: #006089 !important
    border: 2px solid #006089 !important
    border-radius: 7px !important
    font-size: 14px !important
    padding: 6px 53px !important
    transition: all 0.8s ease !important
    cursor: pointer
.register_button:hover
    text-decoration: none !important
    cursor: pointer
    background-color: #006089 !important
    color: #ffeded !important
    border-color: #006089 !important


@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

@keyframes spin2
    0%
        transform: translate(-50%, 50%) rotate(0deg)
        -webkit-transform: translate(-50%, 50%) rotate(0deg)
    100%
        transform: translate(-50%, 50%) rotate(360deg)
        -webkit-transform: translate(-50%, 50%) rotate(360deg)