@font-face {
  font-family: 'Rotonda';
  src: url(./RotondaC-Bold.woff2) format("woff2");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Rotonda Regular';
  src: url(./RotondaC.woff2) format("woff2");
  font-weight: normal;
  font-style: normal
}